.button {
    box-sizing: border-box;
    padding: 6px 10px;
    display: inline-block;
    vertical-align: middle;
    min-width: 120px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    line-height: 20px;
    font-weight: 500;
    border: 1px solid #828282;
    border-radius: 4px;
    background-color: #4f4f4f;
}