.main-content {
    box-sizing: border-box;
}

.main-content__slogan {
    padding: 0 20px;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.main-content__category {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}