.page-footer {
    background-color: #333;
}

.page-footer__feedback-info {
    display: flex;
    justify-content: space-around;
    padding: 23px 20px;
}

.page-footer__social {
    margin: 0;
    padding: 0 20px;
}

.page-footer__menu {
    margin: 0;
    padding: 10px 20px;
}

.page-footer__copyright {
    margin: 0;
    padding: 10px 20px;
    color: #ccc;
    text-align: center;
    border-top: 1px solid rgba($color: #fff, $alpha: 0.3);
}