.search {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border-bottom: 1px solid #999;
    padding: 0 20px;
    min-height: 40px;
    background-color: #bd5d38;
}

.search__field {
    background-color: transparent;
    border: none;
    font-family: "Fira Sans", "Arial", sans-serif;
}

::placeholder {
    color: #f2f2f2;
    font-size: 18px;
    font-family: "Fira Sans", "Arial", sans-serif;
}

.search__button {
    display: block;
    width: 40px;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;

    &::before {
        margin: auto;
        content: '';
        display: block;
        width: 20px;
        height: 19px;
        background-color: black;
        background: url("../images/icon-search.svg") no-repeat center;
        cursor: pointer;
    }
}