.site-menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 320px;
    border-bottom: 1px solid #999;
}

.site-menu__item {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-grow: 1;
    
    .site-menu__link {
        box-sizing: border-box;
        width: 106px;
        height: 101px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        color: #bdbdbd;
        font-weight: bold;
        cursor: pointer;
        border-style: inset;
        border: solid 10px #bdbdbd;
    }
}

.site-menu__item:first-child {
    .site-menu__link {
        color: #bdbdbd;
        border: solid 10px #bdbdbd;
    }
}

.site-menu__item:nth-child(2) {
    .site-menu__link {
        color: #219653;
        border: solid 10px #219653;
    }
}

.site-menu__item:nth-child(3) {
    .site-menu__link {
        color: #eb5757;
        border: solid 10px #eb5757;
    }
}

.site-menu__item:nth-child(4) {
    .site-menu__link {
        color: #9b51e0;
        border: solid 10px #9b51e0;
    }
}

.site-menu__item:nth-child(5) {
    .site-menu__link {
        color: #2f80ed;
        border: solid 10px #2f80ed;
    }
}

.site-menu__item:nth-child(6) {
    .site-menu__link {
        color: #f2994a;
        border: solid 10px #f2994a;
    }
}

.site-menu__link {
    text-decoration: none;
}