.social-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.social-menu__link {
    display: block;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;

    .icon {
        display: block;
    }
}