.user-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    background-color: #bd5d38;
}

.user-menu__item {
    min-height: 40px;
    border-bottom: 1px solid #999;
}

.user-menu__link {
    display: block;
    text-decoration: none;
    padding: 6px 20px;
    color: #f2f2f2;

    .icon {
        width: 40px;
        display: inline-block;
        vertical-align: middle;
    }
}